codeSource/wp-admin
codeSource/wp-config.php
codeSource/wp-config-sample.php
codeSource/wp-cron.php
codeSource/wp-login.php
codeSource/wp-settings.php
codeSource/wp-signup.php
codeSource/wp-trackback.php
codeSource/.htaccess
codeSource/wp-content/cache
codeSource/wp-content/wp-cache-config.php
docs/devis.ods
docs/planDeCharge.ods
docs/propal.odt
docs/.~lock.propal.odt#
.gitignore
